@model ManejadorCheckpoint.Models.TipoVehiculo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etiqueta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Etiqueta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRutaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRutaNavigation.IdRuta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTipoVehiculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
